<form method="post" action="/stores">
    <ul>
        <li>
            <label for="store-name">Name</label>
            <input id="store-name" type="text" name="name" />
        </li>
         <li>
            <label for="store-location">Location</label>
            <input id="store-location" type="text" name="location" />
        </li>
        <li>
            <input type="submit">
        </li>
    </ul>
</form>